html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: normal;
  margin: 1.5rem .5rem;
}

figure {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .75rem;
}

.picture1 {
  grid-column: 1/ -1;
  grid-row: 1/ 2;
}

figcaption p {
  display: grid;
  margin: -1rem;
  grid-column: 1/ -1;
  grid-row: 1;
  align-self: end;
}

article {
  display: grid;
  gap: .75rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "temple  rhodes  babylon";
}

figcaption {
  color: white;
  font-size: 1rem;
  line-height: .25rem;
}

i {
  font-size: 1.5rem;
  font-style: italic;
}

.picture2 {
  width: 100%;
  gap: .75rem;
  grid-area: temple;
}

.picture3 {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  gap: .75rem;
}

.picture4 {
  width: 100%;
  grid-column: 3;
  grid-row: 1;
  gap: .75rem;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

dt {
  font-size: 1rem;
  font-style: italic;
}

dd {
  font-size: 1rem;
  font-style: normal;
}
